In [1]:
import pandas

In [4]:
df = pd.read_csv('ecom.csv', encoding="ISO-8859-1")

#### Check for null values and remove

In [55]:
print(f'lenght with nulls: {len(df)}')
df.isna().any()

lenght with nulls: 541909

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [73]:
# drop the customerid nulls and check to see if that removes all nulls
online = df.dropna(subset = ['CustomerID'])
online.isna().any()

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

In [77]:
# check the lenght of the dataframe and first 5 values
print(f'Lenght without nulls: {len(online)}')
online.head()

Lenght without nulls: 406829

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# CUSTOMER SEGMENTATION STARTS HERE